*{
    margin: 0;
    padding: 0;
    border:0;
}
body{
    width: 100%;
    height: 100%;
}

#contain{
    position: relative;
    width: 620px;
    height: 450px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 1px;
}
#game{
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 5px;
    background-color: burlywood;
    box-shadow: 0 0 10px #ffe171;
}
#game div{
    position: absolute;
    width: 149px;
    height: 149px;
    background-color: cornflowerblue;
    box-shadow: 1px 1px 2px #777;
    text-align: center;
    font-size: 150px;
    line-height: 150px;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    /* 移动到start按钮鼠标变为手性 */
    cursor: pointer; 
}
#game div:hover{
    color: #ffe171;
}
#control{
    width: 150px;
    height: 450px;
    display: inline-block;
    float: right;
}
#control span{
    height: 25px;
    font-size: 20px;
    margin-top: 10px;
}

#control p #start,
#control p #reset{
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    width: 100px;
    height: 30px;
    background-color: slateblue;
    border-radius: 5px;
    /* 移动到start按钮鼠标变为手性 */
    cursor: pointer; 
}
#d1 {
    left: 0px;
  }
#d2 {
  left: 150px;
}
#d3 {
  left: 300px;
}
#d4 {
  top: 150px;
}
#d5 {
  top: 150px;
  left: 150px;
}
#d6 {
  top: 150px;
  left: 300px;
}
#d7 {
  top: 300px;
}
#d8 {
  left: 150px;
  top: 300px;
}